<br / >
<hr>
<p align="center">
Tracking <b>${movieCount}</b> movies, <b>${tvshowCount}</b> tv shows, <b>${tvshowEpisodeCount}</b> tv episodes 
across <b>${fileCount}</b> files and <b>${diskCount}</b> disks.
<br />
<b>${availableDiskCount}</b> disk(s) are current available.
</p>
